.consulta h2{
    font-family: 'Century Gothic';
    font-weight: 650;
    letter-spacing: 0.1em;
    font-size: 35pt;
    padding: 1px 170px;
    margin-bottom: 5px;
    text-decoration: underline darkblue 3.5px;
}
 

.cuadrado-consulta{
    background-color: white;
   
    height: fit-content;
    width: 95%;
    margin-left: 15px;
    display: flex;
    position:static;
}

.row{
    font-size: 11.5pt;
    display: center;
    align-items: center;
    justify-content: space-between;
    padding: 17px 75px;
    font-weight: 560;
}

.tabla{
    font-family: 'Century Gothic';
    border: solid 0.5px rgb(8, 7, 57);
    table-layout: fixed;
    width: 170%;
	
    
}

.encabezado{
    background-color: rgb(176, 164, 211);
}

th{
    padding: 20px 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14.5pt;
}

td{
    padding: 15px;
    border-top: solid 0.5px rgb(8, 7, 57) ;
    border-right: solid 0.4px rgb(8, 7, 57);
    text-align: center;
}

tbody tr{
    cursor: pointer;
}

tbody tr:hover{
    background: rgb(221, 206, 255, 30%);
}

.search{
    width: 15%;
    height: 18px;
    border-radius: 5px;
    border-color: rgb(48, 17, 98);
    margin-left: 64%;
    padding: 2.5px 5px;
} /*main-container*/

.boton{
    border-radius: 8px;
    width: 5.5%;
    background-color: rgb(59, 22, 99);
    color: white;
    font-family: 'Century Gothic';
    font-size: 10pt;
    font-weight: 550;
    padding: 3px 3.5px;
    margin-left: 3px;
    cursor: pointer;
}




#contenedor-tabla{
    height: fit-content;
    background-color: rgba(251.82, 74.62, 148.26, 1);
}

#container-consulta{
    background-color: rgba(251.82, 74.62, 148.26, 1);
}

td, th{
	overflow-wrap: break-word;
}

#consulta-contenedor{
	background-color: rgba(251.82, 74.62, 148.26, 1);
}

#tabla2{
	background-color: rgba(251.82, 74.62, 148.26, 1);
}