
.cuadradoe{
	top: 80%;
	left: 40%;
	width: 18vw;
	height: 13vh;
	border-radius: 20px;
	background: #FBD8FC;
	border: 2px solid #000;
}

#direccion_ek1G {
	top: 50%;
	left: 35%;
	width: 39vh;
	height: 4vh;

	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color: #000000;
	align-items: center;
}

.direccion {
	margin-top: 5%;
	width: 50vh;
	height: 10vh;
	font-size: 2vh;
	
}

#ingrese_cedula__ek1G {
	top: 10%;
	left: 35%;
	width: 39vh;
	height: 4vh;
	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color: #000000;
	position: absolute;
}

.cedula {
	margin-top: 5%;
	width: 50vh;
	height: 5vh;
}



.cambiar-contrasena-submit {
	margin-top: 60vh;
	margin-left: 80vw;
}

#nombre_ek1G{
	top: 30%;
	left: 35%;
	width: 39vh;
	height: 4vh;
	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color: #000000;
	position: absolute;

}