



.menu {
	margin-top: 12vh;
	height: 88vh;
	width: 364px;
	position: absolute;
	background: #2A2052;
	z-index: 1;
	transition: 0.5s ease;
	transform: translatex(-364px);

}

.menu .head {
	color: white;
	font-size: 30px;
	font-weight: bold;



	text-transform: uppercase;
	text-align: center;
	margin-left: 120px;
	letter-spacing: 3px;


}

ol {
	width: 100%;
	list-style: none;
}

li {
	display: block;
	width: 100%;
}

li a {

	color: white;
	padding: 15px 10px;
	text-decoration: none;
	display: block;
	font-size: 15px;
	letter-spacing: 1px;
	position: relative;
	transition: 0.3s;
	overflow: hidden;
	text-transform: capitalize;
}

li a i {
	width: 70px;
	font-size: 25px;
	text-align: center;
	padding-left: 30px;

}

li:hover a {
	background: #5E496F;
	color: white;
	font-weight: bold;
	text-decoration: none;
}


#check{
	visibility: hidden;
	display: none;

}

span {
	position: absolute;
	right: -40px;
	top: 30px;
	font-size: 25px;
	border-radius: 3px;
	color: #fff;
	padding: 3px 8px;
	cursor: pointer;


}

#bars {
	margin-top: -14vh;
	font-size: 50px;
	left: 380px;
	color: black;
}

#times {
	margin-top: -4vh;
	font-size: 40px;
	display: none;


}

#check:checked~.menu {
	transform: translateX(0);
}

#check:checked~.menu #bars {
	display: none;
}

#check:checked~.menu #times {
	display: block;
} 

.rectangulo_transaccion {
	top: 17%;
	left: 3%;
	width: 94vw;           
	height: 80vh;
	border-radius: 30px;          
	background: #FBD8FC;        
	border: 1px solid #000; 
}

#Tarjeta {
	top: 10%;
	left: 35%;
	width: 39vh;
	height: 4vh;
	font-family: tomorrow;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

#Monto {
	top: 24%;
	left: 35%;
	width: 39vh;
	height: 4vh;
	font-family: Tomorrow;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

#Descripcion {
	top: 40%;
	left: 35%;
	width: 39vh;
	height: 4vh;
	font-family: Tomorrow;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

#Referencia {
	top: 57%;
	left: 35%;
	width: 39vh;
	height: 4vh;
	font-family: Tomorrow;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

#Tipo {
	top: 75%;
	left: 35%;
	width: 39vh;
	height: 4vh;
	font-family: Tomorrow;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

.Crear2 {

	margin-top: 65vh;
	margin-left: 80vw;


}

.Crearb {
	width: 15vh;
	height: 6vh;
	border-radius: 20px;
	background: #A9B5EF;
}