#nombre_maq {
	top: 30%;
	left: 35%;
	width: 39vh;
	height: 4vh;
	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

.nombre{
	margin-top: 5%;
	width: 50vh;
	height: 6vh;
	
}


#Precio {
	top: 50%;
	left: 35%;
	width: 39vh;
	height: 4vh;

	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

.precio{
	margin-top: 5%;
	width: 50vh;
	height: 6vh;

}
#Codigo {
	top: 10%;
	left: 35%;
	width: 39vh;
	height: 4vh;
	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

.codigo{
	margin-top: 5%;
	width: 50vh;
	height: 6vh;
}
