

.cuadrado {
	top: 75%;
	left: 30%;
	width: 18vw;
	height: 13¿vh;
	border-radius: 20px;
	background: #FBD8FC;
	border: 2px solid #000;
}

.cuadrado2-mod-maquina {
	top: 75%;
	left: 42%;
	width: 12vw;
	height: 8vh;
	border-radius: 20px;
	background: #FBD8FC;
	border: 2px solid #000;
}

#nombre_ek1_maquina_mod {
	top: 30%;
	left: 35%;
	width: 39vh;
	height: 4vh;
	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color: #000000;
}

.nombre {
	margin-top: 5%;
	width: 50vh;
	height: 6vh;
}

#Precio {
	top: 50%;
	left: 35%;
	width: 39vh;
	height: 4vh;

	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color: #000000;
}

.precio {
	margin-top: 5%;
	width: 50vh;
	height: 6vh;

}

#Codigo-mod {
	top: 10%;
	left: 35%;
	width: 80vh;
	height: 4vh;
	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color: #000000;
}

.codigo-mod {
	margin-top: 2.5%;
	width: 50vh;
	height: 6vh;
}



.buscar {
	font-size: 2vh;
	width: 9vh;
	height: 5vh;
	border-radius: 20px;
	background: #A9B5EF;
}