



#nombre_ek1 {
	top: 20%;
	left: 10%;
	width: 39vh;
	height: 4vh;
	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

.nombre{
	margin-top: 5%;
	width: 50vh;
	height: 5vh;
	
}

#direccion_ek1 {
	top: 40%;
	left: 10%;
	width: 39vh;
	height: 4vh;

	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

.direccion{
	margin-top: 5%;
	width: 50vh;
	height: 10vh;
	font-size: 2vh;
}

#ingrese_cedula__ek1 {
	top: 3%;
	left: 30%;
	width: 39vh;
	height: 4vh;
	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

.cedula{
	margin-top: 5%;
	width: 30vh;
	height: 5vh;
}

#email {
	top: 20%;
	left: 55%;
	width: 39vh;
	height: 4vh;
	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

.Email{
	margin-top: 5%;
	width: 50vh;
	height: 5vh;
	
}

#tele {
	top: 40%;
	left: 55%;
	width: 39vh;
	height: 4vh;
	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

.telefono{
	margin-top: 5%;
	width: 50vh;
	height: 5vh;
	
}

#Cargo {
	top: 60%;
	left: 55%;
	width: 39vh;
	height: 4vh;
	font-family: Sintony;
	font-size: 3vh;
	font-weight: bold;
	text-align: left;
	letter-spacing: 3.9px;
	color:#000000;
}

.crear {

    margin-top: 70vh;
	margin-left: 80%;
	width: 15vh;	
	height: 6vh;
	border-radius: 30px;          
	background: #A9B5EF; 
    font-weight: bold; 
	font-family: Tomorrow; 
	
	
	
}